body {
  margin: 0;
}
.headertext {
  font-size: 5vw;
}
.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
/* Grid page */

#gallery {
  margin-top: 5%;
  margin-left: 20%;
}
#gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50vw;
  height: 50vh;
  position: relative;
}
#gridcontainer > .item {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.item .itemName {
  background: rgba(255, 255, 255, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
@media screen and (min-width: 768px) {
  .item:hover .itemName {
    visibility: visible;
    opacity: 1;
    position: absolute;
    font-size: 4vw;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  
  .header {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .logocontainer {
    position: relative;
    left: 50%;
  }

  .logo {
    height: 5%;
    width: 5%;
    position: absolute;
  }
  .newsbox {
    width: 100%;
    flex-direction: column;
  }
  .map {
    display: none;
  }
  /* Had to use !important to make the newsfeed use the full width of mobile screens */
  .news {
    width: 100% !important;
  }
  #desktopOnly {
    display: none;
  }
  .navcon {
    display: flex;
    flex-direction: column;
  }
 .nav1 { /* Makes the navigation bar pop out and be more visible in mobile screens */
    padding: 2px;
    border: 3px solid white;
  }
  #gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
  }
  /* Again, had to use !important to make the grid images use the appropiate size in mobile screens */
  .items {
    width: 100% !important;
    height: 100% !important;
  }
.headertext {
    font-size: 350%;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  #gridcontainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 50vw;
    height: 50vh;
  }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  #gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 50vw;
    height: 50vh;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
#gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50vw;
  height: 50vh;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
#gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50vw;
  height: 50vh;
  }
}
#grid1 {
  width: 18vw;
  height: 18vh;
}
#grid2 {
  width: 18vw;
  height: 18vh;
}
#grid3 {
  width: 18vw;
  height: 18vh;
}
#grid4 {
  width: 18vw;
  height: 18vh;
}
#grid5 {
  width: 18vw;
  height: 18vh;
}
#grid6 {
  width: 18vw;
  height: 18vh;
}
#grid7 {
  width: 18vw;
  height: 18vh;
}
#grid8 {
  width: 18vw;
  height: 18vh;
}
#grid9 {
  width: 18vw;
  height: 18vh;
}
/* Navigation */

.nav1 {
  color: white;
  font-size: 4vh;
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
  margin: 3vw;
}
.nav1:hover { 
  color: black;
}
.navcon {
  margin: 0;
  background: rgb(73, 187, 224);
  text-align: center;
}
/* Startpage (news) */
.newsbox {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5.6%;
  width: 90%;
}
.news {
  width: 30%;
  border: 1px solid black;
  padding: 1%;
}
#frontpics {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}
.pics { 
  width: 33%;
  height: 80%;
}
.pictext  {
  display: flex;
  height: 5vh;
  width: 70vw;
  margin-top: 0.5%;
  margin-left: 13%;
  justify-content: space-between;
}
.logo {
  width: 15vw;
  height: 30vh;
}
/* All page footer */
.foot {
  position: relative;
  background:rgb(73, 187, 224);
  padding-top: 2%;
  padding-left: 5%;
  margin-top: 5%;
}
.contacts {
  display: inline-block;
  padding-bottom: 2%;
}
.map {
  position: absolute;
  height: 200px;
  width: 30%;
  margin-left: 40%;
}
.icon {
  height: 5vh;
  width: 3vw;
}
/* Open hours page */
#openhours {
  margin-top: 2%;
  margin-left: 5%;
}
/* Contact form page */
.contactform {
  margin-left: 5%;
}
.form-input {
  display: block;
}