body {
  margin: 0;
}
.logga {
}
.headertext {
  font-size: 10vh;
}
.header {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
}
#gallery {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 15px;
}
#gridcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 50vw;
  height: 50vh;
}
#grid1 {
  width: 18vw;
  height: 18vh;
}
#grid2 {
  width: 18vw;
  height: 18vh;
}
#grid3 {
  width: 18vw;
  height: 18vh;
}
#grid4 {
  width: 18vw;
  height: 18vh;
}
#grid5 {
  width: 18vw;
  height: 18vh;
}
#grid6 {
  width: 18vw;
  height: 18vh;
}
#grid7 {
  width: 18vw;
  height: 18vh;
}
#grid8 {
  width: 18vw;
  height: 18vh;
}
#grid9 {
  width: 18vw;
  height: 18vh;
}
.items:hover {
  opacity: 0.7;
}
.nav1 {
  color: white;
  font-size: 4vh;
  text-decoration: none;
  font-family: 'Lexend Deca', sans-serif;
  margin: 15px;
}
.nav1:hover {
  color: black;
}
.navcon {
  margin: 0;
  background: rgb(73, 187, 224);
  text-align: center;
}
#lista {
  margin-left: 3%;
  font-size: 5vh;
  font-family: 'Lexend Deca', sans-serif;
  font-family: 'Fredoka One', cursive;
}
#frontpics {
  text-align: center;
  margin: 10px;
}
.foot {
  background:green;
  padding-bottom: 20%;
  margin-top: 10%;

}
#footcon {

}
.map {
  position: absolute;
  margin-left: 60%;
  height: 40%;
  width: 30%;
}
.socmedia {
  display: flex;
  align-items: center;
}
.icon {
  height: 5vh;
  width: 3vw;
}